.aside-dashboard {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 2rem;
  box-shadow: 7px 0px 93px -5px rgba(231,175,118,0.3);
  background-color: #fff; 
  z-index: 1000;
}

.header-dashboard {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

.header-dashboard img {
  width: 220px;
  height: auto;
}

.nav-dashboard {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.navLink {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit;
  font-size: 25px;
}

.navText {
  display: none;
}

.navbar-img-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-img-container img {
  max-width: 100%;
  height: auto;
}

.botao-dashboard {
  text-align: center;
  padding: 20px;
  border-radius: 15px;
  background-color: #CA1BB4;
  justify-content: center;
  color: white;
  font-weight: bold;
}

@media (min-width: 700px) {
  .aside-dashboard {
      padding: 2rem;
  }

  .navText {
      display: inline;
      margin-left: 0.5rem;
  }
}

