.Planos {
    width: 100%;
    padding: 3rem;
    font-family: "Poppins", sans-serif;
    text-align: center;
}

.titulo-e-paragrafo {
    margin-bottom: 2rem;
}

.titulo-e-paragrafo p {
    font-size: 1.54rem;
    text-align: center;
}

.titulo-e-paragrafo h3 {
    font-size: 3rem;
    text-transform: uppercase;
    color: #392E2E;
}

.cartoes {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3rem;
}

.cartoes .card-planos {
    width: 26%;
}

.card-header-planos img {
    width: 80%;
    display: block;
    margin: 0 auto;
}

.card-planos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100%;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 5px 5px 30px -9px rgba(70, 69, 69, 0.418);
    margin: 1rem;
    transition: all 0.2s ease-in;
    cursor: pointer;
}

.card-planos:hover {
    transform: scale(1.05);
    background-color: #d246c0;
    color: #fff;
}

.card-header-planos {
    margin: 1rem;
    text-align: center;
}

.card-planos .card-header-planos > h2 {
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 2rem;
}

.card-detail-plano > p {
    padding: 0.6rem 1.5rem;
    font-size: 1.2rem;
    font-weight: 500;
    border-bottom: 1px solid #d5d5d5;
}

.card-detail-plano > p:hover {
    background-color: #e787da;
}

.detail-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.plano-icon {
    font-size: 1.6rem;
    position: relative;
    margin-right: 10px;
    left: -12px;
}

.card-button {
    padding: 20px 50px;
    border: 2px solid #ffffff;
    background-color: #d246c0;
    color: #fff;
    border-radius: 20px;
    cursor: pointer;
    transition: all 50ms ease-in;
    font-size: 1.5rem;
    font-family: "Poppins", sans-serif;
    letter-spacing: 3px;
    margin: 3rem;
}

.card-button:hover {
    border: 2px solid #ffffff;
    background-color: transparent;
    color: #ffffff;
    font-weight: 800;
}

@media screen and (max-width: 1500px) {
    .cartoes .card-planos {
        width: 40%;
    }
}

@media screen and (max-width: 1100px) {
    .cartoes .card-planos {
        width: 60%;
    }
}

@media screen and (max-width: 768px) {
    .cartoes .card-planos {
        width: 80%;
    }
}