/*
h1:hover,
h2:hover,
h3:hover,
p:hover {
    transition: 1s all ease-in-out;
    text-decoration: underline;
    cursor: pointer;
}
*/

::selection {
    background: #CA1BB4;
    color: #fff;
    font-weight: bold;
}

.AssistiveBtnSize_small .AssistiveMainBtn .AstvBtnIcon {
    width: 40px !important;
    height: 40px !important;
    border-radius: 8px !important;
    box-shadow: none !important;
    cursor: pointer;
}