.cursos-dashboard-container {
    position: relative;
    margin-top: 2%;
    margin-left: -200px;
    margin-bottom: 2%;
    width: 1200px;
    display: flex;
    justify-content: space-between;
}

.cursos-dashboard-container div {
    width: 800px;
}

.cursos-dashboard-container h1 {
    font-size: 36px;
    font-weight: bold;
}

.cursos-dashboard-lista {
    width: 100%;
    display: flex;
    font-size: 20px;
    gap: 60px;
    font-weight: 500;
    align-items: center;
    color: black;
    margin: 0;
}

.ativo {
    cursor: pointer;
    padding: 20px 15px;
    background-color: #F76456;
    border-radius: 10px;
    color: white;
    box-shadow: 0px 0px 101px -5px rgba(247,100,86,1);
}

.cursos-container {
    margin-top: 7%;
    padding-bottom: 2%;
    display: flex;
    gap: 20px;
    border-bottom: 3px solid lightgray;
}

.curso-info {
    display: flex;
    gap: 100px;
    justify-content: space-between;
}

.curso-info-desc {
    display: flex;
    gap: 30px;
    align-items: center;
}

.assistir-cursos {
    padding: 20px 40px;
    background-color: white;
    border: 4px solid #FF725E;
    border-radius: 15px;
    color: #FF725E;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

.assistir-cursos:hover {
    cursor: pointer;
    background-color: #FF725E;
    color: white;
    border: 4px solid white;
    transition: 1s;
}

