.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    width: 100%;
    padding: 1rem;
    box-sizing: border-box;
}

.container-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #FFFFFF;
    position: relative;
    top: 8rem;
    width: 100%;
    padding: 1rem;
    box-sizing: border-box;
}

.foto {
    width: 50%;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
}

.foto img {
    width: 100%;
    max-width: 600px;
    min-width: 300px;
    height: auto;
}

.container-foto {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}


.fundo-container {
    background-image: url(/src/assets/cursos.png);
    background-size: cover;
    background-position: center;
    width: 100%;
    max-width: 800px;
    height: auto;
    min-height: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    text-transform: uppercase;
    padding: 1rem;
    box-sizing: border-box;
}

.texto {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
    margin-right: 9%;
    margin-top: 2%;
    padding: 1rem;
    box-sizing: border-box;
}

.container-texto {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container-texto>h1 {
    margin: 2% 0;
    font-size: 36px;
}

.container-texto>p {
    font-size: 22px;
    text-align: justify;
}

.button-saiba-mais {
    padding: 20px 40px;
    background-color: #CA1BB4;
    border-radius: 10px;
    border: none;
    margin-top: 40px;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    color: #FFFFFF;
    cursor: pointer;
    transition: 1s;
}

.button-saiba-mais:hover {
    transform: scale(1.08);
}

#spanI {
    margin-left: 7px;
    color: #4D8F9A;
}

#spanN {
    color: #CA1BB4;
}

#spanC {
    color: #F76456;
}

#spanL {
    color: #4D8F9A;
}

#spanM {
    color: #63AB72;
}

.blocos>img {
    position: relative;
    top: 270px;
}

@media (max-width: 800px) {
    .container {
        flex-direction: column;
    }

    .container-info {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .blocos,
    .blocosimg img {
        display: none;
    }

    .foto {
        width: 80%;
        margin: 0;
        padding: 0;
    }

    .fundo-container {
        width: 100%;
    }

    .texto {
        margin-right: 0;
        width: 80%;
    }
}