
.grid-card{
    display: flex;
    width: 100%;
    max-width: 80vw;
    gap: 0;
    margin: 0 auto;
    position: relative;  
    justify-content: space-between;
    margin-top: -8rem ;
}


.bloquinhoCenter{
    width: 150%;
    object-fit: cover;
    position: absolute;
    right: -5rem;
    margin-top: -6rem
}

@media (max-width: 900px) {

    .grid-card {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 5px; 
        justify-content: center;
        align-items: center;
        padding: 10rem;
        right: 7rem;
        top: -10rem;
    }
  
    .grid-card > * {
        margin: -10rem;
    }

    .bloquinhoCenter{
        height: 5%;
      }

}

@media (max-width: 550px) {


    
    .grid-card {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 5px; /* Reduz o espaço entre os itens */
        justify-content: center;
        align-items: center;
        padding: 10rem; /* Remove o espaço interno em torno dos itens */
        right: 10rem;
        top: -10rem;
        max-width: 100vw;
      
    }
  
    .grid-card > * {
        margin: -10rem;
    }


    .bloquinhoCenter{
        height: 5%;
      }

 
}