.newsletter-dashboard {
    display: flex;
    flex-direction: column;
    padding-bottom: 2rem;
    margin-left: 30rem;
    padding: 14px;
    font-weight: 600;
    width: 100%;
}

.dashboard-content {
    padding: 14px;
    width: 100%;
    margin: 0 auto;
}

.newsletter-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 0;
    padding-left: 4px;
    padding-right: 4px;
}

.newsletter-image {
    width: 100%;
    height: auto;
    z-index: 800;
}

.newsletter-form {
    top: -85px;
    position: relative;
    padding-top: 5rem;
    padding-bottom: 3rem;
    margin-bottom: 10px;
    padding-left: 4rem;
    padding-right: 4rem;
    background-color: #CA1BB4;
    width: 100%;
    border: 1px solid #ffffff45;
    border-radius: 15px;
}

.newsletter-title {
    font-weight: bold;
    font-size: 3rem;
    text-align: center;
    margin-bottom: 3rem;
}

.text-highlight {
    color: #E0E0E0;
}

.input-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: relative;
    background-color: #F5F5F5;
    border-radius: 15px;
    padding: 10px 30px;
    margin-bottom: 20px; 
    margin-top: 5px;
}

.icon {
    color: #888;
    font-size: 34px;
}

.textarea-field {
    width: 100%;
    font-size: 1.5rem;
    background-color: #F5F5F5;
    border: none;
    overflow: hidden;
    outline: none;
    color: #444;
    height: 10vh;
    font-family: 'Poppins', sans-serif;
}

.textarea-field2  {
    width: 100%;
    height: 20vh;
    font-size: 1.5rem;
    background-color: #F5F5F5;
    border: none;
    overflow: hidden;
    outline: none;
    color: #444;
    font-family: 'Poppins', sans-serif;
}

.submit-button {
    background-color: #80BA8C;
    text-align: center;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    font-size: 2rem;
    border-radius: 15px;
    margin-top: 0.7rem;
    width: 100%;
    color: #F5F5F5;
    font-weight: bold;
    cursor: pointer;
    border: none;
    font-family: 'Poppins', sans-serif;
}
