.topo-dashboard-container {
    width: 77%;
    position: relative;
}

.bolhas-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../../assets/bolhas.png') no-repeat center center;
    background-size: cover;
    z-index: 0;
}

.topo-dashboard {
    display: flex;
    width: 100%;
    align-items: flex-start;
    justify-content: space-evenly;
    position: relative;
    z-index: 1;
}

.pessoaImg {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    z-index: 1;
}

.pessoaDashboard {
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
   
}

.saudacao-user-container {
    display: flex;
    width: 900px;
    height: 250px;
    padding-left: 50px;
    background-color: #FF725E;
    border-radius: 10px;
    color: #FFFFFF;
    box-shadow: 5px 10px 116px -8px rgba(255,114,94,0.35);
    justify-content: space-between;
    position: relative;
}

.saudacao-user-texto {
    display: flex;
    justify-content: center;
    flex-direction: column;
    z-index: 1;
}

.saudacao-user-texto h2 {
    font-size: 36px;
    font-weight: bolder;
}

.saudacao-user-texto p {
    font-size: 28px;
    font-weight: lighter;
}

.info-topo-container {
    width: 30%;
}

.info-topo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding-right: 5%;
}

.pesquisa-curso {
    padding: 20px;
    text-align: center;
    border-radius: 5px;
    width: 300px;
    background-color: #F4F4F4;
    color: #464646;
    border: 1px solid rgba(211, 211, 211, 0.585);
    font-size: 16px;
    font-weight: bold;
    box-shadow: 5px 10px 116px -8px rgba(0,0,0,0.39);
}

.cursos-dashboard {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 10%;
    gap: 10px;
}

.cursos-dashboard h2 {
    font-size: 40px;
    font-weight: bolder;
}

.curso-completo {
    display: flex;
    padding: 20px;
    gap: 20px;
    align-items: center;
    justify-content: center;
    background-color: #63AB72;
    width: 100%;
    border-radius: 15px;
    color: white;
}

.curso-progresso {
    display: flex;
    padding: 20px;
    gap: 20px;
    align-items: center;
    justify-content: center;
    background-color: #FF725E;
    width: 100%;
    border-radius: 15px;
    color: white;
}

.notification-icon {
    font-size: 40px;
}

.user-profile {
    width: 100px;
}