@import url('https://fonts.googleapis.com/css2?family=Anybody:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Javanese&display=swap');

.IdentidadeVisual {
  width: 100%;
  background-color: #f5f5f5;
  padding: 20px;
}

.IdentidadeVisual h2 {
  color: #392E2E;
  font-size: 42px;
  text-align: center;
}

.imgIncluiDev {
  width: 65%;
  margin-bottom: 10px;
  position: relative;
  justify-content: center;
}

.identidade-caracteristicas {
  display: grid;
  margin-bottom: 50px;
}

.identidade-row {
  width: 100%;
  padding: 4rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.header-identidade {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.logoGridMarca h2 {
  font-size: 34px;
  color: #392E2E;
  position: relative;
  top: 2rem;
}

.logoGrid {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.title-identidade {
  font-size: 32px;
  color: #392E2E;
  text-align: center;
  margin-bottom: 50px;
}

.identidade-grid {
  padding: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px; 
  margin-bottom: 50px;
}

.gridLogo, .logo-01, .logo-02 {
  padding: 10px;
}

.gridLogo {
  height: 550px;
  width: auto;
}

.identidade-grid-sub {
  height: 550px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;
}

.section-tipografia  {
  padding: 4rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.tipografia h3  {
  font-size: 35px;
  font-weight: bolder;
}

.tipografia p  {
  font-size: 22px;
  font-weight: normal;
}

.tipografia {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
  width: 100%;
}

#fontAnybody {
  font-family: 'Anybody';
}

#fontJasmin {
  font-family: 'Javanese';
}