.header-preferencia {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 4rem;
    color: #392E2E;
}

.header-preferencia img{
    width: 300px;
}

.container-main-preferencias {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.container-img-preferencias {
    display: flex;
    justify-content: center;
    width: 50%;
}

.container-img-preferencias img {
    width: 60%;
}

.container-texto-preferencias {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.listaPreferencias {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    background-color: white;
    text-align: center;
    gap: 10px;
}

.listaPreferencias h1 {
    text-align: center;
}

.item-preferencia {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    font-size: 30px;
    color: #392E2E;;
    font-weight: bold;
    border: 4px solid #392E2E;
    border-radius: 20px;
    cursor: pointer;
}

.option-preferencia {
    display: flex;
    align-items: center;
    padding: 10px;
    margin: 0;
    color: #392E2E;
    border: none;
    background-color: white;
    cursor: pointer;
}

.item-preferencia.active {
    color: #CA1BB4;
    border: 4px solid #CA1BB4;
}

.item-preferencia.active svg {
    color: #CA1BB4;
}

.button-preferencias {
    background-color: #CA1BB4;    
    padding: 20px 10px;
    color: #fff;
    border: none;
    font-size: 30px;
    border-radius: 10px;
    width: 100%;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.button-preferencias:hover {
    background-color: #8a147a;
}

.rodape {
    width: 100%;
}

@media (max-width: 840px) {
    .header-preferencia {
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 1rem 2rem;
    }

    .header-preferencia img {
        width: 80%;
    }

    .container-main-preferencias {
        flex-direction: column;
        margin-top: 20px;
    }


    .container-texto-preferencias {
        width: 100%;
        padding: 1rem;
    }

    .listaPreferencias {
        width: 90%;
        padding: 1rem;
    }

    .item-preferencia {
        font-size: 20px;
        padding: 15px;
    }

    .button-preferencias {
        font-size: 20px;
        padding: 15px;
    }

    .rodape {
        padding: 1rem;
    }
}