.cardizin {
    color: #929292;
    font-size: 1rem;
    text-align: center;
    font-weight: 700;
    margin-top: 6.5em;
    padding: 2rem;
}

.cardizin img {
    width: 100%;
    max-width: 250px;
    border-radius: 20px;
}


.cardizin p{
    color: #392E2E;
    font-size: 24px;
}

.cardizin h2{
    color: #392E2E;
    font-size: 42px;
}

