.header-informations {
  z-index: 10;
  position: absolute;
  top: 25px;
  right: 25px;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 20px;
  width: 300px;
}

.logo {
  width: 180px;
  height: auto;
}

img[src*="imgLogin.svg"] {
  width: 99%;
  height: auto;
  margin-top: 20px;
  margin-left: -22px;
}

#login-container input {
  overflow: hidden;
  border: none;
}

.left-side {
  position: absolute;
  left: 0%;
  width: 40%;
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: #FFFFFF;
  z-index: 3;
}

.container {
  position: relative;
  width: 100%;
  background-color: #fff;
  height: 100vh;
  overflow: hidden;
}

.forms-container {
  position: relative; 
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.signin-signup {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%; 
  width: 100%;
  transition: 1s 0.7s ease-in-out;
  display: grid;
  grid-template-columns: 1fr;
  z-index: 5;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0rem 5rem;
  transition: all 0.2s 0.7s;
}

.sign-up-form {
  position: relative;
  width: 100%;
  height: 100vh;
}

.logo-signup {
  position: absolute;
  top: 25px;
  left: 25px;
  width: 190px;
  height: 50px;
}

.title {
  font-size: 2.2rem;
  color: #444;
  margin-bottom: 10px;
}

.input-field {
  max-width: 380px;
  width: 100%;
  background-color: #f0f0f0;
  margin: 10px 0;
  height: 55px;
  border-radius: 55px;
  display: grid;
  grid-template-columns: 15% 85%;
  padding: 0 0.4rem;
  position: relative;
}

.input-field .icon {
  text-align: center;
  height: 20px;
  color: #acacac;
  transition: 0.5s;
  font-size: 1.1rem;
  position: relative;
  width: 100%;
  justify-content: center;
  margin-top: 17px;
}

.input-field input {
  background: none;
  outline: none;
  border: none;
  line-height: 1;
  font-weight: normal !important;
  font-size: 1.1rem;
  color: #333;
}

.input-field input::placeholder {
  color: #aaa;
  font-weight: 500;
}

#sign-up-btn {
  color: #F76456;
  font-size: 19px;
}

#forgot-password-link {
  color: #F76456;
  font-size: 19px;
}

.btn-login {
  width: 150px;
  position: relative;
  background-color: #F76456;
  border: none;
  outline: none;
  height: 49px;
  border-radius: 49px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  margin: 10px 0;
  cursor: pointer;
  transition: 0.5s;
}

.btn:hover {
  background-color: #F76456;
}

.sign-up-form .btn {
  background-color: #63AB72;
}

.sign-up-form .btn:hover {
  background-color: #63AB72;
}

#back-to-home {
  color: #F76456;
  font-size: 19px;
}

.panels-container {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

#login-container:before {
  content: "";
  position: absolute;
  height: 2000px;
  width: 2000px;
  top: -200px;
  right: 48%;
  transform: translateY(-50%);
  background-image: linear-gradient(-45deg, #F76456 0%, #F76456 100%);
  transition: 1.8s ease-in-out;
  border-radius: 50%;
  z-index: 1;
}

.image {
  width: 100%;
  transition: transform 1.1s ease-in-out;
  transition-delay: 0.4s;
}

.panel {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  text-align: center;
  z-index: 6;
}

.left-panel {
  pointer-events: all;
  padding: 3rem 17% 2rem 12%;
}

.right-panel {
  pointer-events: none;
  padding: 3rem 12% 2rem 25%;
}

.panel .content {
  color: #fff;
  transition: transform 0.9s ease-in-out;
  transition-delay: 0.6s;
}

.panel h3 {
  font-weight: 600;
  line-height: 1;
  font-size: 1.5rem;
}

.panel p {
  font-size: 0.95rem;
  padding: 0.7rem 0;
}

.btn.transparent {
  margin: 0;
  background: none;
  border: 2px solid #fff;
  width: 130px;
  height: 41px;
  font-weight: 600;
  font-size: 0.8rem;
}

@media (max-width: 768px) {
  img[src*="imgLogin.svg"],
  #login-container:before,
  .left-side,
  .bloco-mais,
  .icone-mais {
    display: none;
  }

  .header-informations {
    left: -230px;
  }

  .logo {
    display: none;
  }
}

@media (min-width: 769px) {
  img[src*="imgLogin.svg"],
  #login-container:before,
  .left-side,
  .bloco-mais,
  .icone-mais {
    display: block;
  }
}