.Equipe{
    display: flex;
    flex-direction: column;
    height: 150vh;
    align-items: center;
    justify-content: space-evenly;
    border: 2px solid black;
}

.members-one, .members-two {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    
}

.CenterBlocos{
    width: 150%;
}

.blocos-Equipe{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    
}