.containerDetalhamento{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    top: 8rem;
    width: 100%;
    background-color: #63AB72;
    color: white;
}

.iconCurso {
    margin-left: 3%;
    margin-top: 2%;
}

.iconCurso img {
    width: 300px;
}

.tituloCursoDetalhamento {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 40%;
}

.tituloCursoDetalhamento h2 {
    font-size: 26px;
    font-weight: lighter;
}

.tituloCursoDetalhamento h1 {
    font-size: 40px;
    font-weight: bolder;
}

.containerTag {
    display: flex;
    gap: 10px;
    color: black;
}

.containerTag > .tagCurso{
    font-size: 16px;
}

.detalhesCurso {
    display: flex;
    justify-content: space-between;
    width: 400px;
    margin-right: 5%;
    padding: 30px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.877);
    color: rgba(0, 0, 0, 0.49);
}

.listaInfoCurso {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.pessoaComCelular img {
    width: 100px;
}