header {
    background-color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10000;
    padding: 1.5rem 1rem;
    margin-bottom: 5rem;
    font-weight: 700;
    font-size: 1rem;
    position: fixed;
    width: 110%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
 
    height: 5rem;
}

header img {
    width: 300px;
}

.InLogo {
    position: relative;
    right: 7em;
  
}

.blocos {
    position: relative;
    left: 10%;
    top: -1.5rem;
}

.ajustedHeight {
    height: 100vh;
}

header nav ul {
    display: flex;
    gap: 5rem;
    list-style: none;
    top: 2em;
    position: relative;

}

header nav ul li a {
    color: #392E2E;
    font-weight: 550;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    position: relative;
}

header nav ul li a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background-color: black;
    transition: width 0.3s;
}

header nav ul li a:hover::after,
header nav ul li a.selected::after {
    width: 100%;
}

.nav {
    display: none;
    position: relative;
    top: -7px;
    left: 70px;
}

.nav.open .line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}

.nav.open .line:nth-child(2) {
    opacity: 0;
}

.nav.open .line:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
    top: -10px;
    position: relative;
}

.nav-bar-mobile {
    width: 100vw;
    height: 100vh;
    display: grid;
    place-items: flex-start;
    position: relative;
}

.nav-bar-mobile ul {
    gap: 5rem;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.line {
    background-color: rgb(0, 0, 0);
    width: 50px;
    height: 5px;
    margin: .5rem 0;
    cursor: pointer;
}


.close-menu-right {
    transform: rotate(45deg);
    position: relative;
    top: 10px;
}

.close-menu-left {
    transform: rotate(-45deg);
    position: relative;
    top: -2px;
}

.display-none {
    display: none;
}



@media (max-width: 1500px)  {
    header nav ul {
        gap: 3rem;
        font-size: 15px; 
    
    }
    
    header {
        justify-content: center;
        padding-right: 12rem;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    header img {
        width: 250px;
    }

    .InLogo{
        position: relative;
        padding-left: 2px;
        
    }

}


@media (max-width: 1100px) {
    header nav ul {
        gap: 3rem;
        
    
    }
    
    header {
        justify-content: space-between;
        padding-right: 12rem;
        padding-left: 12rem;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    }

    header img {
        width: 300px;
    }

     .nav-bar{
        display: none;
    }
    .nav {
        display: block;
        position: absolute;
        top: 3rem;
        left: 80vw;
    }

    .nav-bar-mobile{
        width: 100vw;
        height: 100vw;
        display: grid;
        place-items: flex-start;
        position: relative;
        align-items: center;
        justify-content: flex-start;
        left: 1em;
        top: -3em;
    }

    .InLogo{
        position: fixed;
        display: block;
        top: 4%;
        left: 5%;
    }

}

@media (max-width: 800px) {

    header {
        height: 60px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    }
    header nav ul {
        display: flex;
        gap: 5rem;
        list-style: none;
        top: 2em;
        position: relative;
    }

    .nav-bar{
        display: none;
    }
    .nav {
        display: block;
        position: absolute;
        top: 3rem;
        left: 80vw;
    }

    .nav-bar-mobile{
        width: 100vw;
        height: 100vw;
        display: grid;
        place-items: flex-start;
        position: relative;
        align-items: center;
        justify-content: flex-start;
        left: 1em;
        top: -3em;
    }

    .InLogo{
        position: fixed;
        display: block;
        top: 4%;
        left: 5%;
    }
    .nav-bar-mobile ul {
        gap: 5rem;
        font-size: 1.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        left: 3em;
    }

   
}

@media (max-width: 600px) {
    header {
        height: 60px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    }

    header img {
        position: absolute;
        top: 10px;
    }

    

    .nav-bar {
        display: none;
    }

    .nav {
        display: block;
        position: absolute;
        top: 25px;
        left: 80vw;
    }

    .InLogo{
        position: fixed;
        display: block;
        top: 10px;
        left: 5%;
    }


}